@import "tailwindcss";

@theme {
  --font-orbitron: "Orbitron", sans-serif;
  --font-rajdhani: "Rajdhani", sans-serif;
  
  --color-bugatti-gold: #cfae72;
  --color-bugatti-dark: #050505;
}

@layer utilities {
  .text-glow {
    text-shadow: 0 0 15px rgba(207, 174, 114, 0.4);
  }
  .glass-panel {
    background: rgba(10, 10, 10, 0.6);
    backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.05);
  }
}

body {
  background: var(--color-bugatti-dark);
  color: white;
  overflow-x: hidden;
  font-family: var(--font-rajdhani);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-orbitron);
}
